body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background-image: linear-gradient(to right, orange, rgb(168, 109, 0), rgb(100, 65, 0));
}
h1{
    color: white;
}
div{
    color: white;
    width: 200px;
    height: 100px;
    display: inline-block;
    border-radius: 5%;
    background-color: rgba(255, 166, 0, 0.315);
}
footer{
    color: white;
    text-decoration: underline;
}