body{
    background-image: linear-gradient(to right, rgb(0, 43, 0), rgb(0, 75, 0), green);
    color: white;
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
header{
    background-color: rgb(1, 187, 1);
    padding: 10px;
}
main{
    width: 800px;
    height: 200px;
    background-color: white;
    color: green;
    margin: auto;
    border: 0px;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
footer{
    background-color: rgb(1, 187, 1);
    width: auto;
    height: auto;
    padding: 10px;
}
footer > p{
    padding: 0px;
    margin: 0px;
}